<div class="main-page">
    <h1 class="page-title">myFlix</h1>
  <div class="btn-container">
    <button mat-raised-button (click)="openUserRegistrationDialog()" color="primary" aria-label="Sign up button">
      Sign Up
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()" color="primary" aria-label="Login button">
      Login
    </button>
    <div class="content-box">
      <p class="content-title">Do you want a sneak peak?</p>
      <p class="content-writing">
        Username: testuser <br>
        Password: test123
      </p>
    </div>
  </div>
</div>