.del-acc-box {
  width: 300px;
  height: 190px;
}

h2 {
  text-align: center;
}

.account-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
}

.warning, .regular {
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px;
}

.regular:hover {
  color: #fff;
  background-color: #3F51B5;
}

.warning:hover {
  color: #fff;
  background-color: red;
}

