.header {
  margin-bottom: 20px;
  justify-content: center;
}

.title {
  font-size: 1.4em;
}

.login-spinner {
  margin: 0 auto;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}