.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.header-box { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.center  { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cls-bttn, h2 {
  margin: 0;
}

.cls-bttn:hover {
  color: red;
}

