.syn-container {
  max-width: 600px;
}

.cls-bttn:hover {
  color: red;
}

.syn-header {  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.syn-content {
  max-height: 500px;
  font-size: 1.3em;
  line-height: 1.5;
}
