
@use '~@angular/material' as mat;
@include mat.core();

$myflix-primary: mat.define-palette(mat.$amber-palette);
$myflix-accent: mat.define-palette(mat.$indigo-palette);
$myflix-warn: mat.define-palette(mat.$red-palette);

$myflix-theme: mat.define-light-theme((
  color: (
    primary: $myflix-primary,
    accent: $myflix-accent,
    warn: $myflix-warn,
  )
));

@include mat.all-component-themes($myflix-theme);

* {
  font-family: 'Montserrat Alternates', sans-serif; 
}

html { 
  height: 100%;
}

body { 
  height: 100%;
  margin: 0; 
  background-color: rgb(61, 58, 58); 
}
